##### Cours : Pull Data From Pandas DataFrames - Pandas For Machine Learning 4 
##### Lien : https://www.youtube.com/watch?v=VFsSJDLQPK4



##### Date : 20-09-22
***

In [19]:
import pandas as pd
import numpy as np

In [3]:
# import csv file
my_df = pd.read_csv('data/dog_data.csv', sep='\t')
my_df

                  Breed        Color            DogName  OwnerZip
0              COCKAPOO        BROWN            CHARLEY     15236
1          GER SHEPHERD  BLACK/BROWN             TACODA     15238
2         BELG MALINOIS      BRINDLE               EICH     15238
3                 MIXED  BLACK/BROWN              ARROW     15104
4   AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5      SCOTTISH TERRIER        BLACK             BAILEY     15129
6     YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7         DACHSHUND MIX  WHITE/BROWN              LEROI     15101
8     SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS     15238
9    LABRADOR RETRIEVER       YELLOW              TAFFY     15228
10         BICHON FRISE        WHITE               DUDE     15238
11       LHASA APSO MIX  WHITE/BROWN            CHICKIE     15238
12     AM PITT BULL MIX        BROWN               KING     15235
13     AM PITT BULL MIX        WHITE              EMILY     15108
14     BRITTANY SPANIEL  WHITE/BROWN              ELLIE     15228
15                MIXED        WHITE              RUSTY     15120
16          TERRIER MIX      SPOTTED              ANNIE     15239
17       COCKER SPANIEL       BLONDE             JUILET     15214
18       COCKER SPANIEL        BLACK              ROMEO     15214

In [5]:
# Grab first 9 rows
my_df.head(9)

                 Breed        Color            DogName  OwnerZip
0             COCKAPOO        BROWN            CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN             TACODA     15238
2        BELG MALINOIS      BRINDLE               EICH     15238
3                MIXED  BLACK/BROWN              ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5     SCOTTISH TERRIER        BLACK             BAILEY     15129
6    YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7        DACHSHUND MIX  WHITE/BROWN              LEROI     15101
8    SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS     15238

In [7]:
# Grab last 4 rows
my_df.tail(4)

             Breed    Color DogName  OwnerZip
15           MIXED    WHITE   RUSTY     15120
16     TERRIER MIX  SPOTTED   ANNIE     15239
17  COCKER SPANIEL   BLONDE  JUILET     15214
18  COCKER SPANIEL    BLACK   ROMEO     15214

In [8]:
# Get info about the dataframe
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Breed     19 non-null     object
 1   Color     19 non-null     object
 2   DogName   19 non-null     object
 3   OwnerZip  19 non-null     int64
dtypes: int64(1), object(3)
memory usage: 736.0+ bytes

In [9]:
# Get shape of rows and columns
my_df.shape

(19, 4)

In [10]:
# Get number of dimensions
my_df.ndim

2

In [11]:
# Get the column dataTypes
my_df.dtypes

Breed       object
Color       object
DogName     object
OwnerZip     int64
dtype: object

In [12]:
# Get some statistics about the data
my_df.describe()

           OwnerZip
count     19.000000
mean   15188.157895
std       60.231279
min    15090.000000
25%    15124.500000
50%    15228.000000
75%    15238.000000
max    15239.000000

In [13]:
# Describe a specific column
my_df['Breed'].describe()

count        19
unique       16
top       MIXED
freq          2
Name: Breed, dtype: object

In [14]:
# Describe a specific column
my_df['Color'].describe()

count              19
unique             10
top       WHITE/BROWN
freq                5
Name: Color, dtype: object

In [15]:
# Describe a specific column
my_df['DogName'].describe()

count          19
unique         19
top       CHARLEY
freq            1
Name: DogName, dtype: object

In [16]:
# Select specific column using Brackets
my_df['DogName']

0               CHARLEY
1                TACODA
2                  EICH
3                 ARROW
4                OAKLEY
5                BAILEY
6     MIMI PEARL FOSTER
7                 LEROI
8            ZOE VITSAS
9                 TAFFY
10                 DUDE
11              CHICKIE
12                 KING
13                EMILY
14                ELLIE
15                RUSTY
16                ANNIE
17               JUILET
18                ROMEO
Name: DogName, dtype: object

In [17]:
# Select specific column using Dot Notation
my_df.DogName

0               CHARLEY
1                TACODA
2                  EICH
3                 ARROW
4                OAKLEY
5                BAILEY
6     MIMI PEARL FOSTER
7                 LEROI
8            ZOE VITSAS
9                 TAFFY
10                 DUDE
11              CHICKIE
12                 KING
13                EMILY
14                ELLIE
15                RUSTY
16                ANNIE
17               JUILET
18                ROMEO
Name: DogName, dtype: object

In [18]:
# Select specific column Uisng Location
my_df.iloc[:,0]

0                COCKAPOO
1            GER SHEPHERD
2           BELG MALINOIS
3                   MIXED
4     AM PIT BULL TERRIER
5        SCOTTISH TERRIER
6       YORKSHIRE TERRIER
7           DACHSHUND MIX
8       SHETLAND SHEEPDOG
9      LABRADOR RETRIEVER
10           BICHON FRISE
11         LHASA APSO MIX
12       AM PITT BULL MIX
13       AM PITT BULL MIX
14       BRITTANY SPANIEL
15                  MIXED
16            TERRIER MIX
17         COCKER SPANIEL
18         COCKER SPANIEL
Name: Breed, dtype: object