##### Cours : How To Change And Reset Index - Pandas For Machine Learning 11
##### Lien : https://www.youtube.com/watch?v=inmMGhYU3uU


##### Date : 07-11-22
***

In [21]:
import pandas as pd
import numpy as np

In [22]:
# import csv file
my_df = pd.read_csv('data/dog_data.csv', sep=',')

In [23]:
my_df = my_df.head()

In [24]:
# Create new column
my_df['Frame Header'] = ["Dog 1", "Dog 2", "Dog 3", "Dog 4", "Dog 5"]
my_df

                 Breed        Color  DogName  OwnerZip Frame Header
0             COCKAPOO        BROWN  CHARLEY     15236        Dog 1
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238        Dog 2
2        BELG MALINOIS      BRINDLE     EICH     15238        Dog 3
3                MIXED  BLACK/BROWN    ARROW     15104        Dog 4
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139        Dog 5

In [25]:
# Set Index
my_df.set_index("Frame Header", inplace=True)

In [26]:
# Show DF
my_df

                            Breed        Color  DogName  OwnerZip
Frame Header
Dog 1                    COCKAPOO        BROWN  CHARLEY     15236
Dog 2                GER SHEPHERD  BLACK/BROWN   TACODA     15238
Dog 3               BELG MALINOIS      BRINDLE     EICH     15238
Dog 4                       MIXED  BLACK/BROWN    ARROW     15104
Dog 5         AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [27]:
# Reset index
my_df.reset_index(inplace=True)

In [35]:
# Drop Column
my_df.drop("Frame Header", axis=1, inplace=True)

In [36]:
# Show DF 
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139