##### Cours : Grab Rows, Points, and Subsets From DataFrame - Pandas For Machine Learning 8
##### Lien : https://www.youtube.com/watch?v=2uV1l3zkJ_Q&list=PLCC34OHNcOtqSz7Ke7kaYRf9CfviJgO55&index=8


##### Date : 24-10-2022
***

In [1]:
import pandas as pd
import numpy as np

In [2]:
# import csv file
my_df = pd.read_csv('data/dog_data.csv', sep='\t')

In [3]:
my_df.head()

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [4]:
# Grab row method 1 location
my_df.loc[2]

Breed       BELG MALINOIS
Color             BRINDLE
DogName              EICH
OwnerZip            15238
Name: 2, dtype: object

In [5]:
# Grab row method 2 index location
my_df.iloc[3]

Breed             MIXED
Color       BLACK/BROWN
DogName           ARROW
OwnerZip          15104
Name: 3, dtype: object

In [7]:
# Specific points (row and column)
# my_df.loc['Row', 'COLUMN']
my_df.loc[1, 'DogName']

'TACODA'

In [9]:
# Subsets
# my_df.loc[['row, 'row'], ['column', 'column']]
my_df.loc[[1, 3, 4], ['DogName', 'Breed']]

  DogName                Breed
1  TACODA         GER SHEPHERD
3   ARROW                MIXED
4  OAKLEY  AM PIT BULL TERRIER