##### Cours : Pandas Series - Pandas For Machine Learning 2
##### Lien : https://www.youtube.com/watch?v=keiCAmgvGqA

Dans ce cours on apprend Ã  convertir une liste / un dictionnaire en une DF

##### Date : 07-09-22
***

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Convert list to DF
my_series = [5,9,12,27]
my_var = pd.Series(my_series)
my_var

0     5
1     9
2    12
3    27
dtype: int64

In [3]:
my_var[2]

12

In [5]:
my_index = ['A', 'B', 'C', 'D']
my_var2 = pd.Series(my_series, index=my_index)
my_var2

A     5
B     9
C    12
D    27
dtype: int64

In [6]:
my_var2['B']

9

In [7]:
cars = {'Tesla':12, 'Mercedes':42, 'Ford':3}
my_var3 = pd.Series(cars)
my_var3

Tesla       12
Mercedes    42
Ford         3
dtype: int64

In [ ]:
my_var3['Tesla']